html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    /*background-color: #00192e;*/
    cursor: default;
}

#clearBtn {
    display: none;
}

.keyInputDiv {
    position: absolute;
    left: 50px;
    top: 10px;
    width: 200px;
    z-index: 410;
}

#layerSwitch {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 4px;
    z-index: 410;
    text-align: center;
}

#layerSwitch .panel {
    float: left;
}

/*#layerSwitch input[type='checkbox'] {*/
/*margin-left: 10px !important;*/
/*}*/

#sceneSwitch {
    position: absolute;
    top: 50px;
    left: 50px;
    border-radius: 4px;
    z-index: 410;
    cursor: default;
}

#sceneSwitch .btn {
    display: block;
}

.leaflet-control-attribution {
    display: none !important;
}

.leaflet-popup-content-wrapper {
    border-radius: 0px !important;
}

.leaflet-div-icon {
    background: none !important;
    border: 0px !important;
}

.leaflet-bar {
    border: none !important;
}

.leaflet-bar a {
    background-color: #207cad !important;
    border-bottom: 1px solid #6e6460 !important;
    color: #c0ced7 !important;
}

#mapType {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 80px;
    margin-bottom: 20px;
    margin-right: 20px;
    cursor: pointer;
    z-index: 9999;
}

#mapType .mapTypeCard {
    background: url("../images/mapType.png");
    width: 86px;
    height: 60px;
    display: inline-block;
    position: absolute;
    bottom: 0;
}

#mapType .mapTypeCard.active {
    /*border: 2px solid #fff;*/
    border: 2px solid #104662;
}

#mapType .mapTypeCard span {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    padding: 3px 3px 2px 4px;
    font-size: 12px;
    height: 17px;
    line-height: 12px;
    color: #FFF;
    border-top-left-radius: 2px;
    background-color: #3385FF;
}

#mapType .map {
    right: 90px;
    background-position: 0 0px;
}

#mapType .satelite {
    right: 0px;
    background-position: 0 -60px;
}

.col-md-6, .col-md-4 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.panel {
    margin-bottom: 0px !important;
    border: none;
    width: 125px;
}

/*=======================逻辑css===================*/
.importantPopup {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
}

.importantTable {
    margin-left: 16px;
    margin-bottom: 24px;
}

.popIcon {
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
}

.popIcon.person {
    background-image: url("../images/important.png");
}

.popIcon.camera {
    background-image: url("../images/camera.png");
    width: 48px;
    height: 48px;
    background-size: 48px 48px;
}

.popIcon.energy {
    background-image: url("../images/police.png");
}

.popIcon.alarm {
    background-image: url("../images/alarm.png");
}

.popTable {
    margin-left: 7px;
    margin-bottom: 24px;
}

.popTable a {
    cursor: pointer;
}

.table {
    margin-bottom: 0px !important;
}

#tableDiv {
    position: absolute;
    z-index: 999;
    bottom: 150px;
    right: 10px;
    background-color: #fff;
    padding: 5px;
    text-align: center;
    display: none;
}

#tableDiv a {
    cursor: pointer;
}

.textDiv {
    text-align: center;
    width: 42px;
    white-space: nowrap;
    word-break: keep-all;
    height: 24px;
    line-height: 24px;
    margin-left: 26px;
}

.redText {
    background-color: red;
    color: white;
}

.blueText {
    background-color: blue;
    color: white;
}

/*=====闪动效果=======*/
/* 定义keyframe动画，命名为blink */

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    50.01% {
        opacity: 0;
    }
    /* 注意这里定义50.01%立刻透明度为0，可以设置闪烁效果 */
    100% {
        opacity: 0;
    }
}

/* 添加兼容性前缀 */

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    50.01% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    50.01% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    50.01% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    50.01% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/* 定义blink类*/
.blink-fast {
    animation: blink .25s linear infinite;
    /* 其它浏览器兼容性前缀 */
    -webkit-animation: blink .25s linear infinite;
    -moz-animation: blink .25s linear infinite;
    -ms-animation: blink .25s linear infinite;
    -o-animation: blink .25s linear infinite;
}

.blink-slow {
    animation: blink .75s linear infinite;
    /* 其它浏览器兼容性前缀 */
    -webkit-animation: blink .75s linear infinite;
    -moz-animation: blink .75s linear infinite;
    -ms-animation: blink .75s linear infinite;
    -o-animation: blink .75s linear infinite;
}

.panel {
    display: none;
}

.panel:not(:first-child) {
    border-left: 1px solid #dddddd;
}

.panel-heading {
    text-align: center;
}

.faceRecognition {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 410;
    margin-top: 10px;
}

.faceRecognition .btn {
    color: #c0ced7 !important;
    background-color: #207cad !important;
    border-color: #207cad !important;
    border-radius: 0 !important;
}

.routeDiv {
    width: 124px;
    height: 45px;
    margin-left: -23px;
    margin-top: -23px;
    vertical-align: middle;
}

.routeDiv img {
    width: 45px;
    height: 45px;
    background-size: 45px 45px;
}

.routeDiv span {
    background-color: #fdf9b8;
    padding: 4px;
    margin-left: 2px;
}

.captureImage {
    width: 760px !important;
}

.closeBtn {
    background-image: url("../images/close.png");
    background-size: 20px 20px !important;
    width: 20px !important;
    height: 20px !important;
    border-radius: 10px;
}

.title {
    width: 140px;
    background-color: #207CAD;
    text-align: center;
    font-size: 14px;
    padding: 2px;
    border-bottom: 1px solid #104662;
    font-family: 'Microsoft YaHei', '微软雅黑';
}

.title a {
    cursor: pointer;
    text-decoration: none;
    color: #030305;
}

#layerSwitch li {
    padding: 2px;
    background-color: #C0CED7;
    list-style-type: none;
    border-bottom: 1px solid #ccc;
    clear: both;
    overflow: hidden;
}

#layerSwitch li img {
    float: left;
    padding: 4px;
    margin-left: 10px;
}

#layerSwitch li span {
    float: left;
    padding: 3px;
    margin-left: 5px;
    font-weight: bold;
}

#layerSwitch li input {
    margin-top: 6px;
    margin-bottom: 4px;
    margin-right: 10px;
    vertical-align: middle;
    float: right;
}

.popContent {
    margin-left: 0px;
    margin-bottom: -25px;
}

.popHead {
    background-image: url("../images/head.png");
    background-size: 266px 36px;
    width: 266px;
    height: 36px;
}

.popTitle {
    margin-left: 80px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #44ACF2;
    font-family: SimHei;
}

.popBody {
    background-image: url("../images/mid.png");
    background-size: cover;
    width: 266px;
    padding: 10px 16px;
}

.popBody p {
    color: white;
    font-size: 16px;
    font-family: KaiTi;
    margin: 2px 0px;
}

.popBody p a {
    text-decoration: none;
    color: white;
    width: auto;
    padding: 5px 5px;
    background: #207cad;
}

.popFoot {
    background-image: url("../images/buttom.png");
    background-size: 266px 30px;
    width: 266px;
    height: 30px;
}

.leaflet-popup-close-button, .leaflet-popup-tip-container {
    display: none;
}

.leaflet-popup-content-wrapper {
    background: none;
    box-shadow: none;
}

.input-group-btn{
    width: auto;!important;
}

.searchDiv {
    position: absolute;
    top: 10px;
    left: 50px;
    height: 40px;
    z-index: 420;
    width: 300px;
}

.searchDiv .btn {
    border-radius: 0 !important;
}

.searchDiv .btn-default {
    color: #c0ced7 !important;
    background-color: #207cad !important;
    border-color: #207cad !important;
}

.searchDiv .dropdown-menu {
    border-radius: 0 !important;
    background-color: #207cad !important;
}

.searchDiv .dropdown-menu li a {
    color: #c0ced7 !important;
}

.searchDiv .dropdown-menu li a:hover {
    background-color: #104662;
    color: #c0ced7 !important;
}

.searchDiv #searchText {
    color: #c0ced7 !important;
    background-color: #207cad !important;
    border: 1px solid #207cad !important;
    border-left: 1px solid #6e6460 !important;
}

.searchDiv .clearSearch{
    display: none;
}

.searchContent {
    display: none;
    position: absolute;
    top: 50px;
    left: 50px;
    max-height: 300px;
    overflow: auto;
    z-index: 420;
    background-color: #207cad;
}
.searchContent ul{
    padding: 0!important;
    margin: 0!important;
}
.searchContent li{
    list-style: none;
    height: 34px;
    font-size: 14px;
    color: #c0ced7;
    padding: 8px 0px 8px 24px;
    border-bottom: 1px solid #6e6460;
}

.searchContent li:hover{
    background-color: #104662;
}

.searchContent li:last-child{
    border: none;
}

.searchContent li span{
    margin-right: 20px;
}

/*.searchContent li a{*/
    /*margin-right: 20px;*/
    /*color: #c0ced7;*/
    /*text-decoration: none;*/
    /*cursor: pointer;*/
/*}*/


.searchContent li button{
    margin-right: 20px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.searchContent .microphone {
    display: inline-block;
    height: 15px;
    width: 11px;
    overflow: hidden;
    margin-bottom: -2px;
    background-image: url("../images/microphone.png");
    background-size: 11px 15px;
}

.searchContent .video {
    display: inline-block;
    height: 12px;
    width: 20px;
    overflow: hidden;
    margin-bottom: -2px;
    background-image: url("../images/video.png");
    background-size: 20px 12px;
}

.btn-call{
    color: #c0ced7;!important;
    background-color: #207cad;!important;
    border-color: #207cad;!important;
    margin-right: 1px;!important;
}